<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Testimonial</h2>
            <h1 class="display-4 text-uppercase">Our Clients Say!!!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-0">
                        <h4 class="text-primary text-uppercase mb-1">Fameeda Sultana</h4>
                        <span class="text-warning">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </span>
                    </div>
                </div>
                <p class="mb-0">I went to baking class without any knowledge. Sindhu mam was excellent and so friendly.
                    This was a new experience for me.
                    If anybody wants to join baking class I will highly recommend for Ori Cakes(Ayanavaram).
                    Thank you mam for ur kind and support
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-0">
                        <h4 class="text-primary text-uppercase mb-1">prasanna kumar</h4>
                        <span class="text-warning">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                </div>
                <p class="mb-0">We bought a cake for an occasion at ORI. It was beautiful, tasty and came at an
                    affordable price. Thanks
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-0">
                        <h4 class="text-primary text-uppercase mb-1">Deekshitha</h4>
                        <span class="text-warning">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </span>
                    </div>
                </div>
                <p class="mb-0">I had a wonderful experience here...Mam is a very sweet and friendly person ...I learnt a lot of things and she explained things in a very calm and composed manner ... We all had a very fun and memorable time.
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="ps-0">
                        <h4 class="text-primary text-uppercase mb-1">Uma abi</h4>
                        <span class="text-warning">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                </div>
                <p class="mb-0">I joined Master Baking course in ORI Baking Class. The Gem Sindhuja Mammmm. She taught
                    me very clearly and patiently and friendly. I came here with zero knowledge in baking but when I
                    complete the course I learnt all the tips and tricks in baking and usage of tools and handling
                    method easily and confidently. I am so satisfied.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->